# Archivo .env

# Configuración MQTT
MQTT_BROKER=
MQTT_PORT=1883
# frigate/events, frigate/reviews
MQTT_TOPICS=frigate/reviews

# Configuración de Telegram
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

# Configuración de la cámara Tapo
CAMERA_IP=
CAMERA_USER=
CAMERA_PASSWORD=

# Configuracion de Frigate API
FRIGATE_API_URL=

# Ping
PING_ENDPOINT=
PING_INTERVAL=60